.fixed{
    position: relative;
    width: 200px;
    height: 100px;
}
.fixed div{
    border: 3px solid #000;
    margin: auto;
    position: fixed;
    z-index: 3;
    left: 200px;
    padding: 20px;
    font-size: 30px;
}
.fixed div:hover{
    background-color: black;
    color: white;

}
.static1,.static2{
    background-color: aqua;
    max-width: 500px;
    height: 240px;
    float: left;
    margin: 50px;
    padding: 10px;
}
.static1{
    position: static;
    overflow: hidden;
}
.static1 .img1{
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px;
}
.static1 .img2{
    width: 150px;
    height: 150px;
    float: right;
}
.static2{
    position: static;
    overflow: scroll;

}
.relative{
    width: 600px;
    height: 500px;
    background-color: #16d660;
    position: relative;
    border: 20px solid grey;
    padding: 10px;
}
.absolute1,.absolute2,.absolute3,.absolute4,.absolute5{
    width: 200px;
    height: 200px;
    background-color: #09aff7;
    position: absolute;
    margin: 10px;
    padding: 10px;
}
.absolute1{
    left: 0;
    border-radius: 50% 0 0 50%;
}
.absolute2{
    right: 0;
    border-radius: 0 50% 50% 0;
    z-index: 2;
}
.absolute3{
    left: 0;
    bottom: 0;
    border-radius: 50% 0 0 50%;
    z-index: 2;
}
.absolute4{
    right: 0;
    bottom: 0;
    border-radius: 0 50% 50% 0;
}
.absolute5{
    background-color: red;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 50%;
    z-index: 1;
}
 p {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    position: sticky;
    top: 0;
    background-color: #16d660;
    border: 5px solid red;
}

/* Float */
.div1,.div2,.div3,.div4,.div5,.div6 {
    width: 300px;
    height: 300px;
    border:3px solid red;
    border-collapse: collapse;
    float: left;
    padding: 50px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
.div1{
    background-color: #ee82ee;
    color: #ee82ee;
}
.div1:hover{
    background-color: #09aff7;
    color: #000;
}
.div2{
    background-color: #095ef3;
    color: #095ef3;
}
.div2:hover{
    background-color: #16d660;
    color: red;
}
.div3{
    background-color: green;
    color: green;
}
.div3:hover{
    background-color: aqua;
    color: brown;
}
.div4{
    background-color: yellow;
    color: yellow;
}
.div4:hover{
    background-color: antiquewhite;
    color: black;
}
.div5{
    background-color: #000;
    color: #000;
}
.div5:hover{
    
}